@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@100&family=Raleway:wght@200&display=swap');

*{
    padding: 0;
    margin: 0;
}
/*--------------- HEADER ------------------- */
header{
    background-image: url(../imagenes/fondo\ header.jpg);
    background-position: 5px;
    /*padding: 10px 800px ;*/
    height: 110px;
    text-align: right;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav, ul {
    display: flex;
    justify-content: end;

}
.contenidoHeader{
    padding: 10px 650px ;
}

a{
    color: #f2e9e4;
    text-decoration: none;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left : 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

ul{
    list-style: none;

}
li{
    display: inline-block;
}



body{
    background-color: #d6cfcb;

}

.logoHeader img{
    height: 100px;
    width: 100px;
    justify-content:start ;
    padding: 20px;
    padding-left: 35px;
}

/* --------------- FOOTER -------------------*/
footer{
    background-image: url(../imagenes/fondo\ header.jpg);
    background-position: 5px;
    margin-bottom: 0px;
    margin-top: 100px;
    color: #f2e9e4;
    height: 100px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    }

    .iconosFooter{
    display: flex;
    gap: 20px;
    margin-left: 10px;
}

.iconosFooter i {
    font-size: 25px;
}


/* ----------------- GENERAL -------------------*/    
img{
    padding-top: 20px;
}



.titulosPrincipales{
    font-weight: bolder;
    color: #f2e9e4;
    background-color: #565264;
    padding: 100px;
    margin-top: 80px;
    text-align: center;
}


/*-------------- BIBLIOTECA ----------------*/
.mainBiblioteca {

    font-weight: bolder;
    color: #22223b;
}

.librosBiblioteca {
    width: 100%;
    height: auto;
    display: inline-block;
    justify-content: center;
    gap: 40px;
   /* border: 1px solid black; */
}

.imagen{
    width: 100px;

}

.tituloBiblioteca{
    margin: 40px;
    
}

/*-------------- CONTACTO------------------ */
.tituloContacto{
    padding: 150px 40px 80px 40px ;
    color: #22223b;
}

.parrafoContacto{
    margin: 35px 20px;
    padding: 20px;
    font-weight: 900;
    font-size: large;
    font-family:'Raleway', sans-serif; 
    text-align: center;

}

main,form{
    padding: 30px;
}
 /*--------------CURSOS ----------------*/
.mainCursos {
    padding: 200px 50px;
    
}
/* -----------INTERPRETACIONES---------------- */
.parrafoInterpretaciones{
    margin: 35px 20px;
    padding: 20px;
    font-weight: 900;
    font-size: large;
    font-family: 'Raleway', sans-serif;
    text-align: center;

}

 /*-------------- INDEX ----------------------- */
.parrafoIndex{
    margin: 35px 20px;
    padding: 20px;
    font-weight: 900;
    font-size: large;
    font-family: 'Raleway', sans-serif;
    text-align: center;

}
