@import"../base/variables";

.container{
    margin: auto;
    max-width: 1300px;
    padding: 0 20px;
}

@mixin breakpoint($size) {
    @if map-has-key($breakpoints, $size) {
        @media (max-width: #{map-get($breakpoints, $size)}){
            @content;
        }    
    }    
}
